*.swp
*.o
*~
local
plogg
thirdparty/libsydneyaudio/Makefile
thirdparty/libsydneyaudio/Makefile.in
thirdparty/libsydneyaudio/aclocal.m4
thirdparty/libsydneyaudio/autom4te.cache/
thirdparty/libsydneyaudio/config.guess
thirdparty/libsydneyaudio/config.h
thirdparty/libsydneyaudio/config.h.in
thirdparty/libsydneyaudio/config.log
thirdparty/libsydneyaudio/config.status
thirdparty/libsydneyaudio/config.sub
thirdparty/libsydneyaudio/configure
thirdparty/libsydneyaudio/depcomp
thirdparty/libsydneyaudio/include/Makefile
thirdparty/libsydneyaudio/include/Makefile.in
thirdparty/libsydneyaudio/install-sh
thirdparty/libsydneyaudio/libtool
thirdparty/libsydneyaudio/ltmain.sh
thirdparty/libsydneyaudio/missing
thirdparty/libsydneyaudio/src/.deps/
thirdparty/libsydneyaudio/src/.libs/
thirdparty/libsydneyaudio/src/Makefile
thirdparty/libsydneyaudio/src/Makefile.in
thirdparty/libsydneyaudio/src/libsydneyaudio.la
thirdparty/libsydneyaudio/src/sydney_audio_alsa.lo
thirdparty/libsydneyaudio/stamp-h1
thirdparty/libsydneyaudio/sydneyaudio-uninstalled.pc
thirdparty/libsydneyaudio/sydneyaudio.pc
